[Unit]
Description=goweb

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/var/lib/jenkins/workspace/go-jenkins-test/cmd/main

[Install]
WantedBy=multi-user.target